.container-fluid {
	background-color: #71c7ec;
}

#landing-page {
	box-sizing: border-box;
	height: 100%;
	display: center-block;
}

.ulap-bg {
	background: url(../images/ulap-bg.jpg) center center fixed;
	background-size: cover;
	background-repeat: no-repeat;
	height: 100vh;
	width: 100%;
	filter: blur(1px);
	-webkit-filter: blur(1px);
}

.jumbotron-fluid {
	text-align: center;
	max-width: 100%;
	position: absolute;
	top: 10%;
	left: 50%;
	width: 100%;
	transform: translateX(-50%);    
}

.vertical-center {
	min-height: 70%;
	align-items: center;
}

.banner-intro {
	width: 100%;
	max-height: auto;
}

.jumbotron-fluid > p {
	font-family: 'Archivo Narrow', sans-serif;
	color: red;
	font-size: 20px;
	margin-top: 5px;
	margin-bottom: 0;
	text-align: center;
	height: auto;
}

.dev-site {
	position: absolute;
	top: 90%;
	left: 50%;
	width: 90%;
	transform: translateX(-50%);
	text-align: center;
	font-size: 10px;
}

.home-btn {
	background-color: white;
	color: blue;
}

.home-btn:hover {
	background-color: blue;
	color: white;
}

.navbar {
	box-sizing: border-box;
	background-color: #71c7ec;
	padding: 1px;
	padding-bottom: 0;
	min-height: 50px;
}

.navbarbrand > img {
	max-height: 40px;
	width: 40px;
	line-height: 40px;
	margin-top: 5px;
	margin-left: 5px;
}

.navbar-text {
	font-size: 14px;
	font-family: 'Archivo Black', sans-serif;

}

.navbar-text > a {
	text-decoration: none;
}

.nav-item > .nav-link {
	padding: 6px;
	margin: 0 1px;
}

.nav-link {
	color: grey;
	font-size: 14px;
	font-family: 'Saira', sans-serif;
}

li {
	margin-left: 13px;
	margin-right: 13px;
}

.active a {
	background-color: skyblue;
	color: white;
	font-size: 120%;
}

[class*="col"] {
	float: left;
	box-sizing: border-box;
}

main {
	box-sizing: border-box;
	height: auto;
	background-color: #71c7ec;
	animation-duration: 5s;	
	background: url(../images/ulap-bg.jpg) center center fixed;
	background-size: cover;
	background-repeat: no-repeat;
	height: 100%;
	width: 100%;
	/*filter: blur(0.5px);
	-webkit-filter: blur(0.5px);*/
}

footer {
	box-sizing: border-box;
	border-top: 0.2px solid white;
	min-height: 50px;
	line-height: 50px;
	font-size: 12px;
	background-color: #71c7ec;
	text-align: center;
}

footer > p {
	margin-left: 0px;
	margin-right: 0px;
	padding-right: 0px;
	padding-left: 0px;
	margin-bottom: 0px;
}

.footer {
	margin-right: 0;
	margin-left: 0;
}

.d-block {
	height: 100%;	
}

#carousel-img {
	box-sizing: border-box;
	padding-top: 70px;	
}

.carousel-inner {
	/*padding-top: 70px;*/
	width: 100%;
	height: 100%;
}

.intro-row {
	margin: 15px;
	text-align: center;
	box-sizing: border-box;
	margin-left: 0;
	margin-right: 0;
}

.intro-col {
	padding: 0;
}

.intro-col > h1 {
	padding-top: 50px;
	padding-bottom: 20px;
}

.intro-col > p {
	margin-bottom: 0px;
	font-size: 18px;
}

#features {
	margin-top: 20px;
	margin-bottom: 20px;
	padding: 0;
	box-sizing: border-box;
	padding-left: 15px;
	padding-right: 15px;
	background-color: white;
	border: 0.5px solid lightgray;
}

#features, .img-features {
	width: 100%;
	text-align: center;
	border-radius: 50px;
	padding-bottom: 20px;
	padding-top: 8px;
}

#features > h3 {
	margin-bottom: 30px;
}

#features > p {
	margin-bottom: 0;
}

.row-features {
	margin-right: 0;
	margin-left: 0;
}

.aboutus-col {
	box-sizing: border-box;
	padding: 40px;
	padding-bottom: 20px;
	padding-top: 220px;
}

.aboutus-col > p {
	width: 100%;
	text-align: center;
	/*border-radius: 50px;*/
	padding: 20px;
	background-color: white;
	border: 1px solid lightgray;
	opacity: 0.8;
}

.why-col {
	box-sizing: border-box;
	padding: 0 80px;
	padding-bottom: 40px;
}

.why-col > dt, dd {
	width: 100%;
	/*border-radius: 90px;*/
	padding: 20px;
	background-color: white;
	opacity: 0.8;
	border: 1px solid lightgray;
}

dd {
	padding-bottom: 20px;
	margin-bottom: 20px;
}

.aboutus-col > h6, .why-col > h6 {
	margin-bottom: 30px;
	font-size: 14px;
}

.contact-form > form a {
	text-decoration: none
	color: white;
}

form a:hover {
	color: white;
	text-decoration: none;
	cursor: pointer;
}

.btn-lightblue {
	background-color: lightblue;
	color: white;
}

.contact-col {
	margin-top: 30px;
	margin-bottom: 60px;
	box-sizing: border-box;
	padding: 0 40px;
}

.map-col {
	margin-bottom: 30px;
	box-sizing: border-box;
	padding: 40px;
}

.contacthead-col {
	padding: 40px;
	padding-bottom: 0;
	padding-top: 220px;
}

.contacthead-col > h6 {
	font-size: 14px;
}

label {
	padding-top: 20px;
	font-weight: bold;
}

.modal-body {
	margin: auto;
	max-width: 100%;
}

.modal-col {
	padding: 10px;
	height: auto;
}

.galleryhead-col {
	padding: 40px;
	padding-bottom: 0;
	padding-top: 220px;
	text-align: left;
}

.galleryhead-col > h6 {
	font-size: 14px;
}

.gallery-row {
	text-align: center;
}

.logo > p {
	color: white;
	font-size: 300%;
	text-align: center;
}

h1, h2, h3, h4, h5 {
	font-family: 'Archivo Black', sans-serif;
}

h6 {
	font-family: 'Archivo Narrow', sans-serif;
}

p, label, dt, dd {
	font-family: 'Saira', sans-serif;
}

.modal-content {
	background-color: #B0DFE5;
}

.modal-header {
	font-family: 'Archivo Narrow', sans-serif;
}

.modal-footer > .btn-danger{
	font-family: 'Saira', sans-serif;
}

.hovereffect {
	width:100%;
	height:100%;
	float:left;
	overflow:hidden;
	position:relative;
	text-align:center;
	cursor:pointer;
}

.hovereffect .overlay {
	width:100%;
	height:50px;
	position:absolute;
	overflow:hidden;
	top:0;
	left:0;
	opacity:0;
	background-color:rgba(0,0,0,0.5);
	-webkit-transition:all .4s ease-in-out;
	transition:all .4s ease-in-out
}

.hovereffect img {
	display:block;
	position:relative;
	-webkit-transition:all .4s linear;
	transition:all .4s linear;
}

.hovereffect h2 {
	text-transform:uppercase;
	color:#fff;
	text-align:center;
	position:relative;
	font-size:17px;
	background:rgba(0,0,0,0.6);
	-webkit-transform:translatey(-100px);
	-ms-transform:translatey(-100px);
	transform:translatey(-100px);
	-webkit-transition:all .2s ease-in-out;
	transition:all .2s ease-in-out;
	padding:10px;
}

.hovereffect:hover img {
	-ms-transform:scale(1.2);
	-webkit-transform:scale(1.2);
	transform:scale(1.2);
}

.hovereffect:hover .overlay {
	opacity:1;
	filter:alpha(opacity=100);
}

.hovereffect:hover h2 {
	opacity:1;
	filter:alpha(opacity=100);
	-ms-transform:translatey(0);
	-webkit-transform:translatey(0);
	transform:translatey(0);
}


@media only screen and (max-width: 400px) {
	.jumbotron-fluid {	
		top: 30%;	
	}

	.dev-site {
		top: 90%; 	
	}

	.aboutus-col,
	.contacthead-col,
	.galleryhead-col {
		padding-top: 100px;
	}

	#carousel-img {
		padding-top: 100px
	}

	.navbarbrand > img {
		max-height: 40px;
		width: 40px;
		line-height: 40px;
		margin-top: 5px;
		margin-left: 5px;
	}

	.navbar-text {
		font-size: 12px;
	}

	.nav-link {
		color: grey;
		font-size: 11px;
	}

	.active a {
		background-color: skyblue;
		color: white;
		font-size: 90%;
	}

	.logo {
		padding-top: 20px;
	}
}

@media only screen and (min-width: 401px) and (max-width: 960px) {
	.jumbotron-fluid {
		top: 17%;	
	}

	.dev-site {
		top: 95%;
	}

	.aboutus-col,
	.contacthead-col,
	.galleryhead-col {
		padding-top: 160px;
	}

	#carousel-img {
		padding-top: 160px
	}

	.navbar-text {
		font-size: 24px;
	}

	.navbarbrand > img {
		min-height: 60px;
		width: 60px;
		line-height: 60px;
		margin-top: 10px;
		margin-left: 15px;
	}

	.nav-link {
		color: grey;
		font-size: 14px;
	}

	.active a {
		background-color: skyblue;
		color: white;
		font-size: 130%;
	}

	.home {
		padding-left: 200px;
	}

	.logo {
		padding-top: 30px;
	}
}

@media only screen and (min-width: 961px) {
	.jumbotron-fluid {
		top: 10%;		
	}

	.logo {
		width: 705px;
		height: 633px;
		padding-top: 140px;
		padding-left: 0;
		position: absolute;
		float: right;
		top: 1%;
		left: 58%;
	}

	.logo > p {
		font-size: 240%;
	}


	.aboutus-col,
	.contacthead-col,
	.galleryhead-col {
		padding-top: 170px;
	}

	#carousel-img {
		padding-left: 0;
		margin-left: 0;
		margin-right: 0;
		padding-top: 140px;
	}

	.navbar-text {
		font-size: 30px;
		height: 100px;
		line-height: 100px;
	}

	.navbarbrand > img {
		min-height: 100px;
		width: 100px;
		margin-top: 0;
		margin-left: 5px;
		margin-left: 15px;
	}

	.nav-link {
		color: grey;
		font-size: 14px;
	}

	.active a {
		background-color: skyblue;
		color: white;
		font-size: 130%;
	}

	li {
		margin-left: 10px;
		margin-right: 10px;
	}

	.p3 {
		position: relative;
		top: -65%;
	}
}